.header{
	padding-top: 0.7rem;
	margin-bottom: 2rem;
	@media (max-width: 962px){
		padding-top: 2rem;
	}
	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__top{
		@media (max-width: 962px){
			display: none;
		}
	}
	.mobile-actions{
		display: none;
		@media (max-width: 962px){
			display: flex;
			align-items: center;
			gap: 3rem;
		}
		@media (max-width: 600px){
			gap: 1.5rem;
		}
		.hamburger{
			svg{
				width: 4.3rem;
				height: 4.3rem;
			}
		}
		.tel{
			svg{
				width: 3rem;
				height: 3rem;
				@media (max-width: 600px){
					width: 2.5rem;
					height: 2.5rem;
				}
			}
		}
	}
	&__block{
		display: flex;
		gap: 1.7rem;
		position: relative;
		z-index: 7777;
	}
	.logo-mobile{
		display: none;
		@media (max-width: 962px){
			display: block;
			margin-left: 9rem;
			img{
				width: 8.9rem;
				height: 9.2rem;
			}
		}
		@media (max-width: 600px){
			margin-left: 1.5rem;
			img{
				width: 6.1rem;
				height: 6.2rem;
			}	
		}
	}
	.lang-swither{
		width: 3.6rem;
		height: 3.6rem;
		font: 600 1.6rem / 1 $font-family;
		color: #453c3c;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		cursor: pointer;
	}
	.city-swither{
		display: flex;
		align-items: center;
		gap: 0.7rem;
		padding: 0.5rem 0.8rem;
		border-radius: 0.6rem;
		cursor: pointer;
		position: relative;
		&.open{
			&::before{
				transform: rotate(180deg) translate(1rem);
			}
		}
		&::before{
			content: '';
			position: absolute;
			top: 1.1rem;
			right: 0.5rem;
			transform: translate(-50%);
			background: url('../images/icon-select.svg');
			width: 1.6rem;
			height: 1.6rem;
			transition: all 0.3s;
			background-size: cover;
		}
		span{
			font: 500 1.5rem / 1 $font-family;
			color: rgba(69, 60, 60, 0.5);	
		}
		select{
			position: relative;
			appearance: none;
			border: none;
			outline: none;
			width: 9rem;
		}
	}
	.tel{
		font: 600 1.8rem / 1 $font-family;
		color: #453c3c;
	}
	&__actions{
		display: flex;
		position: relative;
		z-index: 777;
	}
	.search-btn{
		@media (max-width: 600px){
			display: none;
		}
	}
	.logo img{
		width: 9.2rem;
		height: 9.2rem;
		position: relative;
		z-index: 777;
	}
	.nav{
		.container{
			justify-content: flex-start;
			display: flex;
			gap: 3.4rem;
			@media (max-width: 962px){
				justify-content: space-between;
			}
		}
		&__wrapper{
			justify-content: flex-start;
			align-items: center;
			display: flex;
			gap: 3.4rem;
			@media (max-width: 962px){
				display: none;
			}
		}
		&__link{
			display: flex;
			align-items: center;
			gap: 0.6rem;
			font: 600 1.6rem / 1 $font-family;
			color: #453c3c;
			text-decoration: underline;
			text-underline-offset: 0.5rem;
			text-decoration-color: transparent;
			&.active{
				text-decoration-color: #453c3c;
			}
			svg{
				width: 1.9rem;
			}
		}
		.logo{
			margin: 0 1.8rem;
		}
	}
	&__actions{
		display: flex;
		align-items: center;
		gap: 2rem;
		margin-left: auto;
		@media (max-width: 962px){
			margin-left: 0;
		}
		@media (max-width: 600px){
			gap: 1.5rem;
		}
		svg{
			width: 2.9rem;
			height: 2.9rem;
			@media (max-width: 600px){
				width: 2.5rem;
				height: 2.4rem;
			}
		}
	}
	&__action{
		position: relative;
		span{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 1.4rem;
			height: 1.4rem;
			background: #7A9A40;
			border-radius: 50%;
			font: 600 1.1rem / 1 $font-family;
			text-align: center;
			color: #fff;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.topmenu > li {
		float: left;
		position: relative;
		border-left: 1px solid black;
		list-style: none !important;
	  }
	  .topmenu > li:first-child {border-left: 0;}
	  .topmenu > li > a {  
		padding: 20px 30px;
		font-size: 12px;
		text-transform: uppercase;
		color: #FEFDFD;
		letter-spacing: 2px;
	  }
	  .topmenu > li > a.active, 
	  .submenu a:hover {color: #ddbe86;}
	  .topmenu .fa, 
	  .submenu .fa {
		margin-left: 5px;
		color: inherit;
	  }
	  .submenu {
		position: absolute;
		z-index: 5;
		min-width: 200px;
		background: white;
		visibility: hidden;
		opacity: 0; 
		// transform-origin: 0% 0%;
		// transform: rotateX(-90deg);
		transition: .3s linear;  
	  }
	  .submenu li {position: relative;}
	  .submenu .submenu {
		position: absolute;
		left: 100%;
		top: -1px;
		transition: .3s linear;
	  }
	  nav li:hover > .submenu {
		visibility: visible;
		opacity: 1;
	  }
	.main-menu{
		width: 144rem;
		border-radius: 0 0 4rem 4rem;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
		height: 45.4rem;
		left: 24rem;
		padding: 5rem 4rem;
		display: flex;
		flex-direction: column;
		gap: 3rem;
		padding-right: 2rem;
		a{
			display: flex;
			align-items: center;
			width: 28rem;
			justify-content: space-between;
			font: 500 1.8rem / 1 $font-family;
			text-transform: uppercase;
			color: #453c3c;
			transition: all 0.3s;
			&:hover{
				text-decoration: underline;
				text-decoration-skip-ink: none;
				color: #453c3c;
				svg{
					opacity: 1;
				}
			}
			svg{
				transition: all 0.3s;
				opacity: 0;
				width: 2.3rem;
			}
		}
		li{
			position: static !important;
		}
		.second-menu{
			left: 33.7rem;
			height: 35.4rem;
			display: flex;
			top: 5rem;
			gap: 3rem;
			display: flex;
			gap: 2rem;
			.column{
				display: flex;
				flex-direction: column;
				gap: 3rem;
				width: 22.5rem;
				padding-left: 2rem;
				border-left: 0.1rem solid rgba(69, 60, 60, 0.5);
			}
			a{
				font: 500 1.8rem / 1 $font-family;
				text-transform: uppercase;
				color: #453c3c;
				opacity: 0.5;
				text-transform: none;
				
			}
		}
	}
}

.main-section{
	margin-bottom: 10rem;
	@media (max-width: 700px){
		margin-bottom: 7rem;
	}	
	.container{
		max-width: 180rem !important;	
	}
	&__slider{
		position: relative;
		overflow: hidden;
		border-radius: 6rem;
		@media (max-width: 700px){
			border-radius: 4rem;
		}
		.swiper-slide{
			background: #e1e8f6;
			display: flex;
			justify-content: center;
			gap: 2rem;
			height: 62.5rem;
			position: relative;
			@media (max-width: 700px){
				padding: 6rem 2rem;
				height: 65rem;
			}
		}
	}
	&__info{
		padding-top: 12rem;
		width: 67rem;
		@media (max-width: 700px){
			padding-top: 0;
		}
	}
	&__title{
		font: 600 6.2rem / 1 $font-family;
		letter-spacing: 0.02em;
		color: #453c3c;
		margin-bottom: 2rem;
		@media (max-width: 962px){
			font: 600 5.2rem / 1 $font-family;
			width: 50rem;
			position: relative;
			z-index: 777;
		}
		@media (max-width: 700px){
			width: 100%;
			font: 600 3.2rem / 1 $font-family;
		}
	}
	&__descr{
		font: 500 1.8rem / 1 $font-family;
		color: #453c3c;
		margin-bottom: 5rem;	
	}
	&__btn{
		width: 18.4rem;
		padding: 1.8rem 3rem;
		border-radius: 2.7rem;
		text-align: center;
		@media (max-width: 700px){
			width: 29rem;
			position: absolute;
			z-index: 777;
			bottom: 7rem;
		}
	}
	.decor1{
		position: absolute;
		top: 40.5rem;
		left: 64.4rem;
		@media (max-width: 962px){
			left: 34rem;
		}
		svg{
			width: 30.4rem;
		}	
	}
	.decor2{
		position: absolute;
		top: 1.2rem;
		right: 7rem;
		@media (max-width: 962px){
			top: 3rem;
			right: -11rem;
		}
		svg{
			width: 31rem;
		}
		@media (max-width: 700px){
			display: none;
		}
	}
	&__img{
		@media (max-width: 962px){
			position: absolute;
			top: 8rem;
			right: 1rem;
		}
		@media (max-width: 700px){
			top: 17.5rem;
			right: auto;
			left: 0;
		}
		img{
			position: relative;
			z-index: 7;
			max-height: 62.2rem;
			object-fit: cover;
			@media (max-width: 962px){
				max-height: 50.6rem;
			}
			@media (max-width: 700px){
				width: 32.9rem;
				height: auto;
				max-height: 100%;
			}
		}
	}
	.swiper-navigation{
		position: absolute;
		z-index: 777;
		bottom: 3.6rem;
		width: 136rem;
		left: 50%;
		transform: translate(-50%);
		display: flex;
		justify-content: space-between;
		svg{
			width: 7.1rem;
			height: 7.1rem;
		}
	}
	.swiper-pagination{
		position: absolute;
		z-index: 7777;
		display: flex;
		justify-content: center;
		gap: 2rem;
		bottom: 5.3rem;
		@media (max-width: 700px){
			bottom: 2rem;
		}
		.swiper-pagination-bullet{
			width: 2rem;
			height: 2rem;
			border-radius: 1rem;
			background: #fff;
			opacity: 1;
			transition: all 0.3s;
		}
		.swiper-pagination-bullet-active{
			border: 1px solid #453c3c;
			border-radius: 1rem;	
			width: 4rem;
		}
	}
}

.categories{
	margin-bottom: 10rem;
	@media (max-width: 700px){
		margin-bottom: 7rem;
	}
	.container{
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
	}
	&__item-name{
		font: 600 2.4rem / 1.1 $font-family;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: #453c3c;
		@media (max-width: 962px){
			font: 600 2rem / 1.1 $font-family;
		}
		@media (max-width: 700px){
			font: 600 2.4rem / 1.1 $font-family;
		}
	}
	&__item{
		width: 32.5rem;
		height: 38rem;
		background: #f0f0f1;
		border-radius: 2.4rem;
		padding: 3rem;
		position: relative;
		@media (max-width: 962px){
			width: 23rem;
			height: 38rem;
		}
		@media (max-width: 700px){
			width: 100%;
		}
		&:hover{
			svg circle{
				stroke: #453c3c;
			}
			svg path{
				transform: translate(2.1rem, -0.7rem) rotate(45deg);
			}
		}
		svg{
			position: absolute;
			left: 3rem;
			bottom: 3rem;
			width: 4.3rem;
			height: 4.3rem;
			transition: all 0.3s;
			stroke: transparent;
		}
		img{
			position: absolute;
			height: 29rem;	
			right: 0;
			bottom: 0;
			@media (max-width: 962px){
				max-width: 22rem;
				height: auto;
			}
			@media (max-width: 700px){
				max-width: 100%;
				height: 100%;
				max-height: 29rem;
			}
		}
	}
}

.subscription-section{
	margin-bottom: 10rem;
	@media (max-width: 962px){
		padding: 0 3rem;
	}
	@media (max-width: 700px){
		padding: 0 1.5rem;
	}
	.container{
		max-width: 150.8rem;
		background: #fadeed;
		border-radius: 6rem;
		padding: 7rem;
		padding-bottom: 0;
		display: flex;
		position: relative;
		@media (max-width: 962px){
			overflow: hidden;
			padding: 6rem 3rem  5rem !important;
		}
		@media (max-width: 700px){
			position: relative;
			flex-direction: column;
			height: 66rem;
			padding: 6rem 1.5rem;
			border-radius: 4rem;
		}
	}
	&__info{
		width: 65rem;
		@media (max-width: 962px){
			width: 40rem;
			min-width: 47rem;
		}
		@media (max-width: 700px){
			width: 100%;
			min-width: 100%;
		}
		p{
			font: 600 1.8rem / 1.5 $font-family;
			color: #453c3c;
			@media (max-width: 700px){
				font: 600 1.6rem / 1.5 $font-family;
			}	
		}
	}
	&__title{
		font: 600 4.8rem / 1 $font-family;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: #453c3c;
		margin-bottom: 1rem;
		@media (max-width: 962px){
			font: 600 3.8rem / 1 $font-family;
		}
		@media (max-width: 700px){
			font: 600 2.8rem / 1 $font-family;
			width: 23rem;
		}
	}
	&__flex{
		display: flex;
		align-items: center;
		gap: 3rem;
		margin-top: 4.7rem;
		@media (max-width: 962px){
			position: relative;
			z-index: 7;
		}
		@media (max-width: 700px){
			position: static;
			margin-top: 1rem;
		}	
	}
	&__price{
		font: 600 2.8rem / 1 $font-family;
		color: #453c3c;
		display: flex;
		gap: 1rem;
		@media (max-width: 700px){
			width: 100%;
			justify-content: center;
		}
		svg{
			width: 2.4rem;
			height: 2.4rem;
		}
	}
	&__button{
		padding: 1.8rem 3rem;
		border-radius: 2.7rem;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
		background: #453c3c;
		font: 500 1.8rem / 1 $font-family;
		color: #fff;
		@media (max-width: 700px){
			position: absolute;
			bottom: 5rem;
			width: 29rem;
			left: 2rem;
			z-index: 777;
		}	
	}
	&__img img{
		width: 62.5rem;
		height: 36rem;
		margin-bottom: -0.3rem;
		@media (max-width: 962px){
			width: 35rem;
			height: 30rem;
			position: absolute;
			right: 0rem;
		}
		@media (max-width: 700px){
			width: 100%;
			height: auto;
		}
	}
}

.category-slider{
	position: relative;
	margin-bottom: 10rem;
	.container{
		overflow: hidden;
	}
	.swiper-wrapper{
		padding-bottom: 1rem;
	}
	&.sales{
		.lable{
			background: #fff;
			color: #453c3c;
		}
	}
	&.popular{
		.lable{
			background: #fadeed;
			color: #453c3c;
		}
	}
	&__link{
		&:hover{
			svg path{
				transform: translate(2.9rem, -1.3rem) rotate(45deg);
			}
		}
		svg{
			width: 6.5rem;
			height: 6.5rem;
		}
	}
	.container{
		overflow: hidden;
	}
	&__top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 3rem;
	}
	&__title{
		font: 600 4.8rem / 1 $font-family;
		color: #453c3c;
		@media (max-width: 952px) {
			font: 600 3.8rem / 1 $font-family;
		}
		@media (max-width: 700px) {
			font: 600 2.8rem / 1 $font-family;
		}
	}
	.category-products__prev{
		position: absolute;
		left: 19rem;
		top: 25rem;
		@media (max-width: 952px) {
			display: none;
		}
		svg{
			width: 5.5rem;
			height: 5.5rem;
		}
	}
	.category-products__next{
		position: absolute;
		right: 19rem;
		top: 25rem;
		@media (max-width: 952px) {
			display: none;
		}
		svg{
			width: 5.5rem;
			height: 5.5rem;
		}
	}
	.swiper-pagination{
		position: absolute;
		z-index: 7777;
		display: flex;
		justify-content: center;
		gap: 2rem;
		bottom: -5rem;
		.swiper-pagination-bullet{
			width: 2rem;
			height: 2rem;
			border-radius: 1rem;
			background: #f0f0f1;
			opacity: 1;
			transition: all 0.3s;
		}
		.swiper-pagination-bullet-active{
			border: 1px solid #453c3c;
			border-radius: 1rem;	
			width: 4rem;
			background: #fff;
		}
	}
}

.product-item{
	width: 100%;
	@media (max-width: 962px){
		width: 23.5rem;
	}
	@media (max-width: 700px){
		width: 16.3rem;
	}
	&__img{
		position: relative;
		margin-bottom: 1.5rem;
		.lable{
			position: absolute;
			padding: 0.8rem 1.2rem;
			border-radius: 1.2rem 0;
			background: #453c3c;
			font: 600 1.8rem / 1 $font-family;
			color: #fff;
		}
	}
	img{
		width: 100%;
		height: 32.5rem;
		border-radius: 2.5rem;
		@media (max-width: 962px){
			height: 23.5rem;
		}
		@media (max-width: 700px){
			height: 16.3rem;
		}
	}
	&__favorite{
		position: absolute;
		top: 2rem;
		right: 2rem;
		svg{
			width: 3.7rem;
			height: 3.7rem;	
		}
	}
	&__name{
		font: 600 1.8rem / 1.1 $font-family;
		text-transform: uppercase;
		color: #453c3c;
		margin-bottom: 1.5rem;	
		@media (max-width: 700px){
			font: 600 1.3rem / 1.1 $font-family;
		}
	}
	&__wrap{
		display: flex;
		justify-content: space-between;
		@media (max-width: 962px){
			flex-direction: column;
			align-items: center;
			gap: 1.8rem;
		}
	}
	&__price{
		font: 600 1.8rem / 1 $font-family;
		text-transform: uppercase;
		color: #453c3c;
		width: 15.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		span{
			margin-left: 0.5rem;
			padding: 0.15rem;
			background: #ee2a23;
			font: 500 1rem / 1 $font-family;
			border-radius: 0.2rem;
			color: #fff;
			b{
				font: 600 1.3rem / 1 $font-family;
				text-transform: uppercase;	
			}
		}
	}
	&__btn{
		font: 500 1.8rem / 1 $font-family;
		padding: 1.8rem 4.4rem;
		border-radius: 2.7rem;
		cursor: pointer;
		color: #453c3c;
		background: #fff;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
		background: #fff;
		transition: all 0.3s;
		@media (max-width: 962px){
			width: 100%;
			text-align: center;
		}
		@media (max-width: 700px){
			font: 500 1.6rem / 1 $font-family;
			padding: 1.4rem;
		}
		&:hover{
			background: #453c3c;
			color: #fff;	
		}
	}
}

.instagram{
	margin-bottom: 10rem;
	@media (max-width: 700px){
		margin-bottom: 7rem;
	}
	&__top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 3rem;
		a{
			display: flex;
			font: 600 1.8rem / 1 $font-family;
			text-align: center;
			color: #453c3c;
			align-items: center;
			gap: 2rem;
			svg{
				width: 4.6rem;
				height: 4.6rem;	
			}
		}
	}
	&__title{
		font: 600 4.8rem / 1 $font-family;
		letter-spacing: 0.02em;
		color: #453c3c;
		@media (max-width: 962px){
			font: 600 3.8rem / 1 $font-family;
		}
		@media (max-width: 962px){
			font: 600 2.8rem / 1 $font-family;
		}	
	}
	&__inner{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 2rem;
		@media (max-width: 962px){
			gap: 1.9rem 0;
		}
	}
	&__link{
		span{
			display: none;
		}
	}
	&__item{
		position: relative;
		width: 32rem;
		height: 32rem;
		border-radius: 2rem;
		overflow: hidden;
		@media (max-width: 962px){
			width: 17.3rem;
			height: 17.3rem;
		}
		@media (max-width: 962px){
			width: 16rem;
            height: 16rem;
		}
		&:hover{
			.overlay{
				opacity: 1;
			}
		}
		img{
			width: 32rem;
			height: 32rem;
			border-radius: 2rem;
			@media (max-width: 962px){
				width: 17.3rem;
				height: 17.3rem;
			}
		}
	}
	.overlay{
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 7;
		background: rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s;
		opacity: 0;
		svg{
			width: 1.9rem;
			height: 1.9rem;
		}
	}
}

.footer{
	@media (max-width: 962px){
		padding: 0 3rem;
	}
	@media (max-width: 600px){
		padding: 0 1.5rem;
	}
	.container{
		border-radius: 6rem 6rem 0 0;
		max-width: 180rem;
		background: #F0F0F1;
		padding: 6rem 22rem;
		@media (max-width: 962px){
			margin-left: 0;
			padding: 6rem 3rem !important;
		}
		@media (max-width: 600px){
			border-radius: 4rem 4rem 0 0;
			padding: 4rem 2rem !important;
		}
	}
	.logo{
		margin-right: 25rem;
		@media (max-width: 962px){
			margin-right: 3rem;
		}
		@media (max-width: 600px){
			margin-right: 0;
		}
		img{
			width: 9.1rem;
			height: 9.2rem;
		}
	}
	.header__top{
		display: flex;
		padding-bottom: 4rem;
		border-bottom: 0.1rem solid rgba(69, 60, 65, 0.5);
		margin-bottom: 3rem;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 962px){
			justify-content: flex-start;
		}
		@media (max-width: 600px){
			flex-direction: column;
			justify-content: center;
			gap: 3rem;
		}
	}
	.lang-swither{
		width: 3.6rem;
		height: 3.6rem;
		font: 600 1.6rem / 1 $font-family;
		color: #453c3c;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		cursor: pointer;
	}
	.city-swither{
		display: flex;
		align-items: center;
		gap: 0.7rem;
		padding: 0.5rem 0.8rem;
		border-radius: 0.6rem;
		cursor: pointer;
		position: relative;
		&.open{
			&::before{
				transform: rotate(180deg) translate(1rem);
			}
		}
		&::before{
			content: '';
			position: absolute;
			top: 1.1rem;
			right: 0.5rem;
			transform: translate(-50%);
			background: url('../images/icon-select.svg');
			width: 1.6rem;
			height: 1.6rem;
			background-size: cover;
			transition: all 0.3s;
		}
		span{
			font: 500 1.5rem / 1 $font-family;
			color: rgba(69, 60, 60, 0.5);	
		}
		select{
			appearance: none;
			width: 9rem;
			border: none;
			outline: none;
		}
	}
	.tel{
		font: 600 2.4rem / 1 $font-family;
		color: #453c3c;
		@media (max-width: 600px){
			font: 600 2rem / 1 $font-family;
		}
	}
	&__inner{
		display: flex;
		gap: 5rem;
		@media (max-width: 962px){
			flex-direction: column-reverse;
		}
	}
	&__contacts{
		width: 37.9rem;
		@media (max-width: 962px){
			width: 100%;
		}
	}
	.header__block{
		@media (max-width: 962px){
			&:nth-child(2){
				margin-right: 5rem;
			}
			&:nth-child(3){
				flex-direction: column;
			}
		}
		@media (max-width: 600px){
			&:nth-child(2){
				margin-right: 0rem;
			}
		}
	}
	&__socials{
		display: flex;
		gap: 1.5rem;
		margin-bottom: 3rem;
		@media (max-width: 962px){
			justify-content: center;
			width: 100%;
		}
		a{
			&:hover{
				svg path{
					fill: #FFFFFF;
				}
				svg circle{
					fill: #9A9699;
				}
			}
		&:nth-child(5){
			&:hover{
				svg path:last-child{
					fill: #9A9699;
				}
			}
		}
		}
		svg{
			width: 4.7rem;
		}
	}
	&__descr{
		@media (max-width: 962px){
			br{
				display: none;
			}
			display: flex;
			flex-wrap: wrap;
			gap: 2rem;
			margin-bottom: 3rem;
		}
		p{
			font: 500 1.6rem / 1 $font-family;
			color: #453c3c;
			opacity: 0.5;
		}
	}
	&__links{
		a{
			margin-bottom: 2rem;
			font: 600 1.6rem / 1 $font-family;
			color: rgba(69, 60, 65, 0.5);
			transition: all 0.3s;
			&:hover{
				color: rgba(69, 60, 65, 0.8);
				text-decoration: underline;
				text-decoration-skip-ink: none;
			}
		}
	}
	&__nav{
		display: flex;
		@media (max-width: 962px){
			padding-bottom: 3rem;
			border-bottom: 0.1rem solid rgba(69, 60, 65, 0.5);
		}
		@media (max-width: 600px){
			flex-direction: column;
			gap: 3rem;
		}
	}
	&__nav-block{
		&:nth-child(1){
			.footer__nav-list{
				flex-wrap: wrap;
				width: 40.2rem;
				flex-direction: row;
				margin-right: 13rem;
				@media (max-width: 962px){
					width: auto;
					flex-direction: column;
					margin-right: 17rem;
				}
				a{
					width: 17.1rem;
					@media (max-width: 962px){
						width: auto;
					}
				}
			}
		}
	}
	&__nav-title{
		font: 600 2rem / 1 $font-family;
		text-transform: uppercase;
		color: #453c3c;
		margin-bottom: 2rem;
	}
	&__nav-list{
		display: flex;
		flex-direction: column;
		gap: 2rem 5.9rem;
		a{
			font: 600 1.6rem / 1 $font-family;
			color: rgba(69, 60, 65, 0.5);
			transition: all 0.3s;
			white-space: nowrap;
			&:hover{
				font: 600 1.6rem / 1 $font-family;
				color: #453c3c;	
			}
		}
	}
}

.reviews{
	&__nav{
		@media (max-width: 962px) {
			display: none;
		}
	}
	&__link{
		display: flex;
		align-items: center;
		font: 600 1.8rem / 1 $font-family;
		text-align: center;
		color: #453c3c;
		span{
			font: 500 1.6rem / 1 $font-family;
			color: rgba(69, 60, 65, 0.5);
			margin-right: 2rem;	
			margin-left: 0.5rem;
			@media (max-width: 962px) {
				font: 500 1.4rem / 1 $font-family;
			}
			@media (max-width: 700px) {
				margin: 0 0.5rem;
			}
		}
		&:hover{
			.svg path{
				transform: translate(2.9rem, -1.3rem) rotate(45deg);
			}
		}
		svg{
			&:nth-child(1){
				width: 3rem;
				height: 3rem;
				margin-right: 0.5rem;
			}
			&:nth-child(3){
				width: 6.5rem;
			}
		}
	}
}

.reviews-item{
	border-radius: 2.4rem;
	width: 100%;
	height: 44.2rem;
	background: #f0f0f1;	
	padding: 3rem;
	position: relative;
	@media (max-width: 962px) {
		height: auto;
	}
	img{
		width: 16rem;
		height: 16rem;	
		margin-bottom: 2rem;
	}
	svg{
		width: 13.1rem;
	}
	p{
		font: 500 1.6rem / 1.7 $font-family;
		color: #453c3c;	
		margin-bottom: 2rem;
	}
	.date{
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 4.6rem;
		height: 4.6rem;
		right: 3rem;
		top: 3rem;
		background: #453c3c;
		border-radius: 50%;
		font: 500 1.1rem / 1 $font-family;
		color: #fff;
		span{
			display: block;
			font: 600 1.8rem / 1 $font-family;
			letter-spacing: -0.02em;
			text-align: center;
		}
	}
	&__name{
		font: 600 1.8rem / 1 $font-family;
		color: #453c3c;	
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}
}

.reviews__prev{
	position: absolute;
	top: 29rem;
	z-index: 7;
	left: 20rem;
	svg{
		width: 5.5rem;
	}
}

.reviews__next{
	position: absolute;
	top: 29rem;
	z-index: 7;
	right: 20rem;
	svg{
		width: 5.5rem;
	}
}

.reviews-slider{
	.swiper-pagination{
		position: absolute;
		z-index: 7777;
		display: flex;
		justify-content: center;
		gap: 2rem;
		bottom: -5rem;
		.swiper-pagination-bullet{
			width: 2rem;
			height: 2rem;
			border-radius: 1rem;
			background: #f0f0f1;
			opacity: 1;
			transition: all 0.3s;
		}
		.swiper-pagination-bullet-active{
			border: 1px solid #453c3c;
			border-radius: 1rem;	
			width: 4rem;
			background: #fff;
		}
	}
}

.balloons{
	position: relative;
	margin-bottom: 10rem;
	@media (max-width: 700px){
		padding-bottom: 3rem;
	}
	@media (max-width: 700px){
		margin-bottom: 5rem;
	}
	.container{
		display: flex;
		justify-content: space-between;
		@media (max-width: 962px){
			gap: 2rem;
		}
		@media (max-width: 700px){
			flex-direction: column;
		}
	}
	.line{
		position: absolute;
		top: 5rem;
		left: 4rem;
		width: 25.3rem;
		height: 11rem;
		@media (max-width: 700px){
			top: 15rem;
		}
	}
	&__slider{
		width: 67rem;
		overflow: hidden;
		@media (max-width: 700px){
			width: 100%;
			padding-bottom: 1rem;
		}
	}
	&__big{
		position: relative;
		border-radius: 2.4rem;
		width: 67rem;
		height: 54rem;
		background: #e1e8f6;
		padding: 4rem;
		@media (max-width: 962px){
			width: 23.7rem;
			min-width: 23.7rem;
			overflow: hidden;
			padding: 2rem;
			height: 42rem;
		}
		@media (max-width: 700px){
			padding: 6rem 2rem;
			width: 100%;
			height: 56rem;
		}

		img{
			position: absolute;
			right: 0;
			bottom: 0;
			width: 32.1rem;
			height: 50rem;	
			@media (max-width: 962px){
				left: 50%;
				transform: translate(-50%);
			}
			@media (max-width: 700px){
				width: 27.2rem;
				height: 46.5rem;
			}
		}
		a{
			display: flex;
			align-items: center;
			gap: 1rem;
			font: 600 1.8rem / 1 $font-family;
			text-transform: uppercase;
			color: #453c3c;
			position: absolute;
			left: 4rem;
			bottom: 5.8rem;
			@media (max-width: 962px){
				position: relative;
				z-index: 7;
				bottom: -1rem;
				left: 0rem;
			}
			@media (max-width: 700px){
				position: absolute;
				bottom: 3rem;
				left: 1.5rem;
			}
			svg{
				width: 2.3rem !important;
				height: 2.3rem;
			}
		}
	}
	&__big-title{
		font: 600 4.8rem / 1 $font-family;
		letter-spacing: 0.02em;
		color: #453c3c;
		margin-top: 16rem;
		@media (max-width: 962px){
			position: relative;
			z-index: 777;
			font: 600 2.8rem / 1 $font-family;
			margin-top: 27rem;
		}
		@media (max-width: 700px){
			margin-top: 0;
		}
	}
	&__nav{
		display: flex;
		gap: 3rem;
		position: absolute;
		left: 96rem;
		z-index: 777;
		bottom: 0;
		@media (max-width: 962px){
			display:  none;
		}
		svg{
			width: 5.5rem;
		}
	}
	
}

.banners{
	position: relative;
	margin-bottom: 10rem;
	border-radius: 2.4rem;
	@media (max-width: 700px){
		margin-bottom: 5rem;
	}
	.swiper-pagination{
		position: absolute;
		z-index: 7777;
		display: flex;
		justify-content: center;
		gap: 2rem;
		bottom: -5rem;
		.swiper-pagination-bullet{
			width: 2rem;
			height: 2rem;
			border-radius: 1rem;
			background: #f0f0f1;
			opacity: 1;
			transition: all 0.3s;
		}
		.swiper-pagination-bullet-active{
			border: 1px solid #453c3c;
			border-radius: 1rem;	
			width: 4rem;
			background: #fff;
		}
	}
	.container{
		overflow: hidden;
	}
	.banner{
		overflow: hidden;
		width: 100%;
		height: 50rem;
		border-radius: 2.4rem;
		padding: 4rem;
		padding-top: 15.9rem;
		position: relative;
		&.banner-second img{
			@media (max-width: 962px){
				top: 0;
				width: 25.7rem;
				height: 44.9rem;
			}
		}
		@media (max-width: 962px){
			padding: 4rem 3rem;
		}
		@media (max-width: 700px){
			padding: 6rem 2rem;
			height: 56rem;
		}
		&__img2{
			@media (max-width: 962px){
				width: 25.7rem;
				height: 24rem;	
			}
		}
		&__img1{
			@media (max-width: 962px){
				width: 35rem;
				height: 40rem;
				right: -3rem !important;
			}
		}
		img{
			position: absolute;
			right: 0;
			max-height: 44.1rem;
			@media (max-width: 962px){
				top: 12rem;
				width: 35.3rem;
				height: 36rem;
			}
			@media (max-width: 700px){
				width: 31.3rem;
				height: 31rem;
			}
		}
		&__img2{
			@media (max-width: 962px){
				width: 23.7rem !important;
				height: 34.9rem;
				position: absolute;
				right: 0;
				bottom: 3rem !important;
			}
		}
		p{
			font: 500 2rem / 1 $font-family;
			color: #453c3c;
			margin: 2rem 0 6.3rem;
			@media (max-width: 962px){
				font: 500 1.8rem / 1 $font-family;
				max-width: 17.5rem;
			}
		}
		&__title{
			font: 600 4.8rem / 1 $font-family;
			letter-spacing: 0.02em;
			color: #453c3c;
			@media (max-width: 962px){
				font: 600 3.8rem / 1 $font-family;
			}
			@media (max-width: 700px){
				font: 600 3.2rem / 1 $font-family;
			}
		}
		&__link{
			position: absolute;
			font: 600 1.8rem / 1 $font-family;
			text-transform: uppercase;
			color: #453c3c;
			display: flex;
			gap: 1rem;
			align-items: center;
			left: 4rem;
			bottom: 5.8rem;
			@media (max-width: 962px){
				z-index: 777;
			}
			svg{
				width: 2.3rem;
			}
		}
		&__btn{
			position: absolute;
			font: 500 1.8rem / 1 $font-family;
			color: #453c3c;
			color: #453c3c;
			left: 4rem;
			bottom: 4rem;
			padding: 1.8rem 3rem;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
			background: #fff;
			border-radius: 2.7rem;
			@media (max-width: 962px){
				z-index: 777;
			}
		}
	}
	&__prev{
		position: absolute;
		top: 21rem;
		z-index: 7;
		left: 20rem;
		@media (max-width: 962px){
			display: none;
		}
		svg{
			width: 5.5rem;
		}
	}
	&__next{
		position: absolute;
		top: 21rem;
		z-index: 7;
		right: 20rem;
		@media (max-width: 962px){
			display: none;
		}
		svg{
			width: 5.5rem;
		}
	}
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
	z-index: 77777;
}

/* Modal content */
.modal-content {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.modal{
	&__content{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
		border-radius: 2.4rem;
		padding: 4.5rem 4rem;
		background: #fff;
		position: relative;
	}
	&__inner{
		display: flex;
		flex-wrap: wrap;
		width: 65rem;
		gap: 2rem 3rem;
		max-height: 26.8rem;
		overflow: auto;
		&::-webkit-scrollbar {
			width: 12px; /* Ширина скроллбара */
			border-radius: 0.5rem;
		  }
		  
		  &::-webkit-scrollbar-track {
			background: #f0f0f0; /* Цвет трека (фона скроллбара) */
		  }
		  
		  &::-webkit-scrollbar-thumb {
			background: #9a9699;
			border-radius: 10px; /* Закругление ползунка */
			border: 3px solid #f0f0f0; /* Пустое пространство вокруг ползунка */
		  }
		div{
			width: 18rem;
			font: 500 1.6rem / 1 $font-family;
			color: #453c3c;
			cursor: pointer;
			&.active{
				color: rgba(69, 60, 60, 0.5);
			}
		}
	}
	&__title{
		font: 600 3rem / 1 $font-family;
		text-align: center;
		color: #453c3c;	
		margin-bottom: 3rem;
	}
	&__search{
		width: 65rem;
		margin-bottom: 3rem;
		border: 1px solid #453c3c;
		border-radius: 0.8rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 2rem;
		input{
			width: 100%;
			padding: 1.9rem;
			border: none;
			outline: none;
		}
	}
	&__thumbs{
		display: flex;
		justify-content: center;
		gap: 1rem;
		background: #f0f0f1;
		padding: 0.7rem;
		width: 48rem;
		border-radius: 1.2rem;
		margin: auto;
		margin-bottom: 2rem;
		button{
			font: 600 1.4rem / 1 $font-family;
			padding: 1.2rem 2.5rem;
			border-radius: 1.2rem;
			&.active{
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
				background: #fff;
			}
		}
	}
}

.notify-block{
	position: fixed;
	top: 13rem;
	right: 27rem;
	display: flex;
	flex-direction: column;
	z-index: 777;
	gap: 1rem;
	opacity: 0;
	transition: all 0.3s;
	visibility: hidden;
	&.visible{
		opacity: 1;
		visibility: visible;
	}
}


.notify{
	z-index: 7;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
	background: #fff;
	border-radius: 1.2rem;
	gap: 1rem;
	display: none;
	&.visible{
		display: block;
	}
	.wrapper{
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 1rem;
		width: 29.7rem;
		padding: 1rem;
	}
	.close{
		position: absolute;
		top: 1rem;
		right: 1rem;
		cursor: pointer;
		svg{
			width: 1.3rem;
			height: 1.3rem;
		}
	}
	img{
		border-radius: 1.2rem;
		width: 5.4rem;
		height: 5.4rem;	
	}
	&__title{
		font: 500 1.2rem / 1.1 $font-family;
		color: #453c3c;
		margin-bottom: 1.5rem;
		width: 19rem;	
	}
	&__link{
		font: 600 1.2rem / 1.1 $font-family;
		color: #453c3c;
		display: flex;
		align-items: center;
		gap: 0.7rem;
		svg{
			width: 1.6rem;
			height: 0.87rem;
		}
	}
}

.cart-notify{
	z-index: 7;
	background: #fff;
	border-radius: 1.2rem;
	padding: 1rem 0rem;
	.notify__title{
		margin-bottom: 1rem;
	}
	.price{
		font: 600 1.6rem / 1 $font-family;
		text-transform: uppercase;
		color: #453c3c;	
	}
	.wrapper{
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 1rem;
		position: relative;
		width: 29.7rem;
		padding: 1rem;
		.close{
			position: absolute;
			top: 1rem;
			right: 1rem;
			cursor: pointer;
			svg{
				width: 1.3rem;
				height: 1.3rem;
			}
		}
	}
	&__btn{
		display: block;
		margin: 1.7rem auto 0.5rem;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
		background: #fff;
		padding: 1.8rem;
		width: 27.7rem;
		border-radius: 2.7rem;
		font: 500 1.8rem / 1 $font-family;
		color: #453c3c;
	}	
}

.authorization{
	display: flex;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	&.active{
		opacity: 1;
		visibility: visible;
	}
	.modal-content{
		border-radius: 2.4rem;
		width: 39rem;
		padding: 4rem 3rem;
		position: relative;
		.block{
			display: none;
			&.active{
				display: block !important;
			}
		}
	}
	.modal__thumbs{
		width: 100%;
	}
	&__title{
		font: 600 3rem / 1 $font-family;
		text-align: center;
		color: #453c3c;
		margin-bottom: 3rem;
	}
	&__input{
		margin-bottom: 2rem;
		.lable{
			font: 600 1.4rem / 1 $font-family;
			text-transform: uppercase;
			color: #453c3c;
			margin-bottom: 1rem;
			span{
				color: #ee2a23;
			}	
		}
		input{
			font: 500 1.8rem / 1 $font-family;
			color: rgba(69, 60, 60, 0.5);
			border: 0.1rem solid rgba(69, 60, 60, 0.3);
			border-radius: 0.8rem;	
			padding: 1.8rem 1.5rem;
			border: 1px solid rgba(69, 60, 60, 0.3);
			border-radius: 0.8rem;
			width: 100%;
		}
	}
	&__btn{
		font: 500 1.8rem / 1 $font-family;
		color: #453c3c;
		border-radius: 2.7rem;
		padding: 1.8rem 3rem;
		width: 100%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
		background: #fff;
		margin-bottom: 3rem;
	}
	&__wrap{
		display: flex;
		align-items: center;
		justify-content: space-between;
		button{
			font: 500 1.8rem / 1 $font-family;
			text-decoration: underline;
			text-decoration-skip-ink: none;
			color: #453c3c;
		}
	}
	&__btn-log{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 1rem;
		font: 500 1.8rem / 1 $font-family;
		color: #453c3c;
		svg{
			width: 2.3rem;
			height: 2.3rem;
		}
	}
}

.search{
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	visibility: hidden;
	top: 6rem;
	position: fixed;
	width: 136rem;
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
	z-index: 777;
	border-radius: 0 0 4rem 4rem;
	padding: 1rem 3rem;
	transition: all 0.3s;
	&.visible{
		opacity: 1;
		visibility: visible;
	}
	&__wrap{
		display: flex;
		gap: 2rem;
		border-bottom: 0.1rem solid #453c3c;
		padding-bottom: 1rem;
		margin-bottom: 2rem;
		input{
			width: 100%;
			border: none;
			outline: none;
		}
		svg{
			cursor: pointer;
			width: 2rem;
			height: 2rem;
		}
	}
	&__recomendations{

	}
	&__recomendations-wrapper{
		height: 48.7rem;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding-bottom: 2rem;
		border-bottom: 0.1rem solid #453c3c;
	}
	&__recomendations-item{
		display: flex;
		align-items: center;
		gap: 2rem;
		img{
			border-radius: 1.2rem;
			width: 5.4rem;
			height: 5.4rem;	
		}
	}
	&__recomendations-name{
		font: 500 1.8rem / 1.1 $font-family;
		letter-spacing: 0.02em;
		color: #453c3c;
		width: 100%;	
	}
	.price{
		width: 12rem;
		padding-left: 2rem;
		font: 600 2rem / 1 $font-family;
		text-transform: uppercase;
		color: #453c3c;
		position: relative;
		span{
			font: 500 1.8rem / 1 $font-family;
		}
		&::before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 0.2rem;
			background: #453c3c;
		}
	}
	.all{
		padding: 1.9rem 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font: 600 1.8rem / 1 $font-family;
		text-transform: uppercase;
		color: #453c3c;
		gap: 1rem;
		width: 100%;
		svg{
			width: 2.4rem;
			height: 1.3rem;	
		}
	}
}

.catalog{
	margin-bottom: 10rem;
	@media (max-width: 700px){
		margin-bottom: 7rem;
	}
	&__top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2rem;
		@media (max-width: 700px){
			align-items: flex-start;
			flex-direction: column;
			gap: 2rem;
		}
	}
	&__col{
		font: 600 1.8rem / 1 $font-family;
		color: #453c3c;
		span{
			font: 700 1.8rem / 1 $font-family;	
		}	
	}
	&__sort{
		border: 0.1rem solid rgba(69, 60, 60, 0.4);
		border-radius: 1.2rem;
		width: 32.5rem;
		padding: 1.7rem 1.5rem;
		.select{
			position: relative;
			font: 500 1.8rem / 1 $font-family;
			color: #453c3c;
			border: none;
			outline: none;
			&__top{
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			.options{
				display: flex;
				flex-direction: column;
				gap: 1rem;
				max-height: 0;
				overflow: hidden;
			}
			input{
				appearance: none;
				&.active{
					display: none !important;
				}
			}
		}
		svg{
			width: 2.1rem;
			height: 2.1rem;
			transition: all 0.3;
			&.open{
				transform: rotate(180deg);
			}
		}
	}
	&__inner{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 4rem 2rem;
		margin-bottom: 4rem;
		@media (max-width: 962px){
			display: flex;
			flex-wrap: wrap;
		}
		@media (max-width: 700px){
			display: flex;
			flex-wrap: wrap;
			gap: 3rem 0.4rem;
		}
	}
}



.catalog-filter{
	margin-bottom: 3rem;
	overflow: hidden;
	position: relative;
	&.filter-category{
		.catalog-filter__categories{
			display: none;
		}
	}
	&__title{
		font: 600 4.8rem / 1 $font-family;
		letter-spacing: 0.02em;
		color: #453c3c;	
		margin-bottom: 3rem;
		@media (max-width: 962px){
			font: 600 2.8rem / 1 $font-family;
		}
	}
	&__categories{
		display: flex;
		gap: 1rem;
		width: 100%;
		flex-wrap: wrap;
		overflow: hidden;
		@media (max-width: 700px){
			flex-wrap: nowrap;
			overflow: auto;
			width: 110%;
			padding-right: 3.5rem;
		}
		&::-webkit-scrollbar{
			display: none;
		}
	}
	&__category{
		input{
			width: 2.9rem;
			height: 2.9rem;
		}
	}
	label{
		font: 500 1.6rem / 1 $font-family;
		text-transform: uppercase;
		color: #453c3c;
		display: flex;
		align-items: center;
		padding: 1.2rem 2rem;
		background: #f0f0f1;
		border-radius: 1.2rem;
		gap: 0.6rem;
		white-space: nowrap;
	}
	&__price{
		margin-top: 1rem;
		border-radius: 2.4rem;
		padding: 2.5rem 3rem;
		background: #f0f0f1;
		display: flex;
		align-items: flex-start;
		gap: 3rem;
		@media (max-width: 952px){
			position: relative;
			padding: 5.2rem 3rem 3rem;
			margin-top: 1rem;
		}
		@media (max-width: 700px){
			padding: 2rem;
			flex-direction: column;
		}
	}
	.custom-wrapper{
		@media (max-width: 952px){
			margin-top: 1rem;
		}
		@media (max-width: 700px){
			width: 100%;
			margin-top: 4rem;
		}
	}
	&__price-title{
		font: 600 2.2rem / 1 $font-family;
		letter-spacing: 0.02em;
		color: #453c3c;
		@media (max-width: 952px){
			position: absolute;
			top: 3rem;
		}	
	}
	&__price-buttons{
		display: flex;
		gap: 3rem;
		margin-left: auto;
		@media (max-width: 700px){
			gap: 0.9rem ;
		}
		button{
			font: 500 1.8rem / 1 $font-family;
			border-radius: 2.7rem;
			padding: 1.8rem 3rem;
			@media (max-width: 700px){
				padding: 1.8rem 2rem;
				font: 500 1.8rem / 1 $font-family;
			}
			&:nth-child(1){
				background: #453c3c;
				color: #fff;
			}
			&:nth-child(2){
				background: #fff;
				color: #453c3c;
			}
		}
	}
	.price-input .price-field {
		margin-bottom: 2.2rem;
		@media (max-width: 952px){
			margin-bottom: 1.5rem;
		}
	}

	.price-field input {
		width: 7rem;
		border: none;
		outline: none;
		font: 600 1.6rem / 1 $font-family;
text-transform: uppercase;
color: #453c3c;
	}
	
	.price-input {
		display: flex;
		justify-content: space-between;
		width: 54.8rem;
		@media (max-width: 952px){
			width: 30rem;
		}
		@media (max-width: 700px){
			width: 100%;
		}
	}
	
	/* Remove Arrows/Spinners */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	
	.slider-container {
		width: 100%;
	}
	
	.slider-container {
		height: 0.2rem;
		position: relative;
		background: rgba(69, 60, 60, 0.2);
		border-radius: 0.5rem;
	}
	
	.slider-container .price-slider {
		height: 100%;
		left: 1%;
		right: 37%;
		position: absolute;
		border-radius: 0.5rem;
		background: #453c3c;
	}
	
	.range-input {
		position: relative;
	}
	
	.range-input input {
		position: absolute;
		width: 100%;
		height: 5px;
		background: none;
		top: -5px;
		pointer-events: none;
		cursor: pointer;
		-webkit-appearance: none;
	}
	
	/* Styles for the range thumb in WebKit browsers */
	input[type="range"]::-webkit-slider-thumb {
		height: 1.8rem;
		width: 1.8rem;
		border-radius: 70%;
		background: #453C3C;
		pointer-events: auto;
		-webkit-appearance: none;
		position: relative;
	}
	&__search{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0rem 1rem 1rem;
		border-bottom: 0.1rem solid #453c3c;
		input{
			border: none;
			outline: none;
			width: 100%;
			font: 500 2rem / 1 $font-family;
			color: #453c3c;
			appearance: none;
		}
		svg{
			width: 2.9rem;
			height: 2.9rem;
			cursor: pointer;
		}
	}
}

.category__banner{
	margin-bottom: 2rem;
	img{
		width: 100%;
		height: 41.1rem;
		border-radius: 6rem;
		object-fit: cover;	
		object-position: center;
	}
}

.favorites{
	&__delete{
	font: 600 1.5rem / 1 $font-family;
	color: #453c3c;
	display: flex;
	gap: 1rem;
	align-items: center;
	svg{
		width: 1.6rem;
		height: 1.6rem;
	}	
	}
}

.error{
	padding-top: 7.7rem;
	padding-bottom: 10rem;
	&__img{
		width: 71rem;
		position: relative;
		margin: auto;
		margin-bottom: 4rem;
		img{
			width: 27.5rem;
			height: 38rem;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -67%);
		}
		svg{
			width: 71.1rem;
			height: 25.6rem;
		}
	}
	&__title{
		font: 600 4.2rem / 1 $font-family;
		letter-spacing: 0.02em;
		text-align: center;
		color: #453c3c;
		margin-bottom: 2rem;
	}
	&__descr{
		font: 500 1.8rem / 1.5 $font-family;
		text-align: center;
		color: #453c3c;
		width: 94rem;
		margin: auto;
		margin-bottom: 4rem;
		@media (max-width: 962px){
			width: 100%;
		}
	}
	&__actions{
		display: flex;
		justify-content: center;
		gap: 2rem;
		font: 600 1.8rem / 1 $font-family;
		color: #453c3c;
		a{
			display: flex;
			align-items: center;
			gap: 2rem;
			color: #453c3c;
		}
	}
}

.banner-top{
	margin-bottom: 3rem;
	@media (max-width: 962px){
		padding: 0 3rem;
	}
	@media (max-width: 700px){
		padding: 0 1.5rem;
	}
	.container{
		position: relative;
		background: #ecf1f9;
		height: 40rem;
		border-radius: 6rem;
		padding: 6rem;
		@media (max-width: 962px){
			padding: 6rem 4rem !important;
			overflow: hidden;
		}
		@media (max-width: 700px){
			padding: 6rem 1.5rem !important;
		}
		&.freshness-banner{
			height: 50rem;
			@media (max-width: 700px){
				height: 56rem;
			}
		}
	}
	&__title{
		font: 600 6.2rem / 1 $font-family;
		letter-spacing: 0.02em;
		color: #453c3c;
		@media (max-width: 700px){
			font: 600 3.2rem / 1 $font-family;
		}	
	}
	&__img{
		position: absolute;
		&.return-img{
			top: 0;
			right: 16rem;
			@media (max-width: 962px){
				right: 0;
			}
			@media (max-width: 700px){
				top: auto;
				bottom: -1rem;
				width: 42rem;
				height: auto;
				right: -3rem;
			}
			img{
				width: 62.3rem;
				height: 40rem;
				@media (max-width: 962px){
					height: 100%;
				}
				@media (max-width: 700px){
					width: 100%;
					height: auto;
				}
			}
		}
		&.freshness-img{
			top: 0;
			right: 0rem;
			@media (max-width: 962px){
				right: -19rem;
				top: auto;
				bottom: -1rem;
			}
			@media (max-width: 700px){
				right: 3rem;
				bottom: -1rem;
			}
			img{
				width: 70rem;
				height: 50rem;
				@media (max-width: 962px){
					width: 66.4rem;
					height: 100%;
				}
				@media (max-width: 700px){
					width: 110%;
					height: auto;
				}
			}
		}
	}
	&__descr{
		font: 600 2rem / 1.5 $font-family;
		letter-spacing: 0.02em;
		max-width: 63rem;
		color: #453c3c;	
		margin-top: 3rem;
		@media (max-width: 962px){
			position: relative;
			width: 28rem;
		}
		@media (max-width: 700px){
			font: 600 1.6rem / 1.5 $font-family;
		}
	}
}

.return-rules{
	margin-bottom: 10rem;
	&__wrapper{
		display: flex;
		gap: 2rem;
		margin-bottom: 5rem;
		@media (max-width: 962px){
			flex-direction: column;
			gap: 3rem;
		}
	}
	&__item{
		width: 44rem;
		font: 500 1.6rem / 1.5 $font-family;
		@media (max-width: 962px){
			width: 100%;
			display: flex;
			align-items: center;
			gap: 2rem;
			p{
				font: 500 1.4rem / 1.5 $font-family;
				color: #453c3c;
				@media (max-width: 700px){
					text-align: center;
				}
			}
		}
		@media (max-width: 700px){
			width: 100%;
		}
		@media (max-width: 700px){
			gap: 2rem;
			flex-direction: column;
		}
	}
	&__item-num{
		width: 8rem;
		height: 8rem;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 0.1rem solid #453c3c;
		margin-bottom: 3rem;	
		font: 500 2.4rem / 1 $font-family;
		text-align: center;
		color: #453c3c;
		@media (max-width: 962px){
			min-width: 8rem;
		}
		@media (max-width: 700px){
			margin-bottom: 0;
		}
	}
	&__warn{
		padding: 2rem 3rem;
		border: 1px solid #000;
		border-radius: 2.4rem;
		display: flex;
		gap: 1.8rem;
		font: 500 1.6rem / 1.5 $font-family;
		color: #453c3c;
		svg{
			min-width: 5.5rem;
			height: 5.5rem;
		}
		@media (max-width: 962px){
			p{
				font: 500 1.4rem / 1.5 $font-family;
				color: #453c3c;	
			}
		}
		@media (max-width: 700px){
			flex-direction: column;
			align-items: center;
			p{
				text-align: center;
			}
		}
	}
}

.freshness-chars{
	margin-bottom: 10rem;
	@media (max-width: 700px){
		margin-bottom: 7rem;
	}
	.container{
		display: flex;
		justify-content: space-between;
		@media (max-width: 700px){
			flex-direction: column;
			gap: 2rem;
		}
	}
	&__item{
		width: 67rem;
		padding: 3rem;
		border: 0.2rem solid #e1e8f6;
		border-radius: 2.4rem;
		@media (max-width: 962px){
			width: 36.5rem;
		}
		@media (max-width: 700px){
			width: 100%;
		}
		p{
			font: 500 1.6rem / 1.5 $font-family;
			color: #453c3c;
			@media (max-width: 700px){
				font: 500 1.4rem / 1.5 $font-family;
			}	
		}
	}
	&__item-title{
		display: flex;
		align-items: center;
		gap: 1.5rem;
		font: 600 1.8rem / 1.2 $font-family;
		text-transform: uppercase;
		color: #453c3c;
		margin-bottom: 2rem;
	}
}

.freshness-instructions{
	margin-bottom: 10rem;
	&__title{
		font: 600 4.8rem / 1 $font-family;
		letter-spacing: 0.02em;
		color: #453c3c;	
		margin-bottom: 3rem;
		@media (max-width: 700px){
			font: 600 2.8rem / 1 $font-family;
			opacity: 0.8;
		}
		
	}
	&__wrapper{
		display: flex;
		gap: 2rem;
		flex-wrap: wrap;
	}
	&__item{
		width: 32.5rem;
		padding: 3rem;
		border: 0.1rem solid rgba(69, 60, 60, 0.5);
		border-radius: 2.4rem;
		@media (max-width: 962px){
			width: 23.6rem;;
		}
		@media (max-width: 700px){
			width: 100%;
		}
		p{
			font: 500 1.6rem / 1.5 $font-family;	
			color: #453c3c;
			@media (max-width: 962px){
				font: 500 1.4rem / 1.5 $font-family;
			}
		}
	}
	&__icon{
		width: 8rem;
		height: 8rem;
		position: relative;
		margin-bottom: 2rem;
		svg{
			width: 100%;
			height: 100%;
		}
	}
	&__num{
		top: 0;
		left: 0;
		position: absolute;
		width: 2.8rem;
		height: 2.8rem;
		border: 0.1rem solid #453c3c;
		display: flex;
		justify-content: center;
		align-items: center;
		font: 600 1.6rem / 1 $font-family;
		background: #fff;
		border-radius: 50%;
	}
}

.contacts{
	margin-bottom: 10rem;
	@media (max-width: 600px){
		margin-bottom: 7rem;
	}
	&__wrapper{
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	&__item{
		display: flex;
		align-items: center;
		gap: 1.5rem;
		font: 600 1.8rem / 1.2 $font-family;
		color: #453c3c;
		padding: 3rem;
		border: 0.2rem solid #e1e8f6;
		border-radius: 2.4rem;
		@media (max-width: 600px){
			font: 600 1.6rem / 1.2 $font-family;
			padding: 3rem 2rem;
		}
		&.contatcs-text{
			align-items: flex-start;
			flex-direction: column;
			color: #453c3c;
			a{
				@media (max-width: 600px){
					svg{
						min-width: 4.6rem !important;
						min-height: 4.6rem !important;
						width: 4.6rem;
						height: 4.6rem;
					}
				}
			}
		}
		a{
			color: #453c3c;
			&:hover{
				circle{
					fill: #453c3c ;
				}
				path{
					fill: #fff ;
				}
				.path{
					fill: #453c3c;
				}
			}
		}
		svg{
			width: 5.4rem;
			height: 5.4rem;
			@media (max-width: 600px){
				min-width: 5.4rem;
				min-height: 5.4rem;
			}
		}
	}
	.contacts-flex{
		svg{
			@media (max-width: 600px){
				min-width: 4.6rem;
				min-height: 4.6rem;
				width: 4.6rem;
				height: 4.6rem
			}
		}
	}
}

.about{
	margin-bottom: 10rem;
	@media (max-width: 962px){
		padding: 0 3rem;
		margin-bottom: 8rem;
	}
	@media (max-width: 700px){
		padding: 0 1.5rem;
		margin-bottom: 7rem;
	}
	.container{
		padding: 5rem;
		display: flex;
		background: #faf4e8;
		border-radius: 6rem;
		gap: 3rem;
		@media (max-width: 962px){
			align-items: center;
			padding: 6rem 3rem 4rem !important;
			overflow: hidden;
			gap: 2rem;
		}
		@media (max-width: 700px){
			flex-direction: column;
		}
		img{
			width: 60rem;
            height: 60rem;
			@media (max-width: 962px){
				width: 63.4rem;
				height: 63.4rem;
			}
			@media (max-width: 700px){
				width: 29.5rem;
				height: 29.5rem;
				
			}
		}
	}
	&__img{
		@media (max-width: 962px){
			margin-left: -50%;	
		}
		@media (max-width: 700px){
			margin-left: 0;
		}
	}
	&__title{
		font: 600 6.2rem / 1 $font-family;
		letter-spacing: 0.02em;
		color: #453c3c;
		margin-bottom: 2rem;
		@media (max-width: 962px){
			font: 600 3.8rem / 1 $font-family;
		}	
	}
	p{
		font: 500 1.6rem / 1.7 $font-family;
		color: #453c3c;
		margin-bottom: 1.9rem;
		@media (max-width: 962px){
			font: 500 1.4rem / 1.7 $font-family;
		}
		@media (max-width: 700px){
			font: 500 1.4rem / 1.7 $font-family;
		}
		&.thanks{
			font: 600 1.8rem / 1.2 $font-family;
			color: #453c3c;
			@media (max-width: 962px){
				font: 600 1.6rem / 1.7 $font-family;
			}	
		}
	}
}

.form{
	margin-bottom: 10rem;
	@media (max-width: 962px){
		padding: 0 3rem;
	}
	@media (max-width: 700px){
		padding: 0 1.5rem;
	}
	.container{
		position: relative;
		background: #ecf1f9;	
		height: 56rem;
		border-radius: 6rem;
		overflow: hidden;
		padding: 6rem;
		@media (max-width: 962px){
			width: 100%;
			padding: 6rem 4rem !important;
		}
		@media (max-width: 700px){
			padding: 6rem 2rem !important;
			height: 82rem;
		}
	}
	&__info{
		@media (max-width: 962px){
			position: relative;
			z-index: 777;
		}
	}
	img{
		position: absolute;
		top: 0;
		right: 0;
		width: 63.7rem;
        height: 56rem;
		@media (max-width: 962px){
			top: 15rem;
			right: -33rem;
			width: 68.7rem;
        	height: 61rem;
		}
		@media (max-width: 700px){
			width: 48rem;
			height: auto;
			top: auto;
			bottom: -21rem;
			right: -19rem;

		}
	}
	&__title{
		font: 600 4.2rem / 1 $font-family;
		letter-spacing: 0.02em;
		color: #453c3c;
		margin-bottom: 3rem;
		@media (max-width: 962px){
			font: 600 3.8rem / 1 $font-family;
		}
		@media (max-width: 700px){
			font: 600 2.8rem / 1 $font-family;
		}
	}
	form{
		display: flex;
		flex-wrap: wrap;
		width: 67rem;
		gap: 2rem;
		@media (max-width: 700px){
			width: 100%;
		}
	}
	&__input{
		p{
			font: 600 1.4rem / 1 $font-family;
			color: #453c3c;
			margin-bottom: 0.7rem;	
		}
		span{
			color: #ee2a23;
		}
		input{
			padding: 1.7rem;
			background: #fff;
			border: 0.1rem solid rgba(69, 60, 60, 0.3);
			font: 500 1.8rem / 1 $font-family;
            color: rgba(69, 60, 60, 0.5);
			border-radius: 0.8rem;
			width: 32.5rem;
			@media (max-width: 700px){
				width: 110%;
			}
		}
		textarea{
			padding: 1.7rem;
			background: #fff;
			border: 0.1rem solid rgba(69, 60, 60, 0.3);
			font: 500 1.8rem / 1 $font-family;
            color: rgba(69, 60, 60, 0.5);
			border-radius: 0.8rem;
			width: 67rem;
			height: 9.6rem;
			@media (max-width: 700px){
				width: 100%;
			}
		}
	}
	button{
		padding: 1.8rem 5rem;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
        background: #fff;
		border-radius: 2.7rem;
		font: 500 1.8rem / 1 $font-family;
       color: #453c3c;
	   @media (max-width: 700px){
		width: 100%;
	}
	}
	.input-file{
		opacity: 0;
		position: absolute;
		z-index: -1;
	}
	.file{
		background: transparent;
		box-shadow: none;
		padding: 0;
		display: flex;
		align-items: center;
		gap: 2rem;
		width: 100%;
		text-transform: uppercase;
		svg{
			width: 2.1rem;
			height: 2.2rem;
		}

	}
}

.contatcs-freshness{
	margin-bottom: 10rem;
	&__title{
		font: 600 2.8rem / 1 $font-family;
		letter-spacing: 0.02em;
		text-align: center;
		color: #453c3c;
		margin-bottom: 3rem;
		@media (max-width: 700px){
			font: 600 2.8rem / 1 $font-family;
			width: 33rem;
			margin: auto;
			margin-bottom: 3rem;
		}
	}
	.container{
		display: flex;
		gap: 1.9rem;
		@media (max-width: 962px){
			flex-wrap: wrap;
		}
	}
	.contacts__item{
		width: 44rem;
		@media (max-width: 962px){
			width: 48.5%;
			&:nth-child(3){
				width: 100%;
			}
		}
		@media (max-width: 700px){
			width: 100%;
			svg{
				width: 4.6rem;
				height: 4.6rem;
				min-width: 4.6rem;
				min-height: 4.6rem;
			}
		}
	}
}

